<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivam.senior">

    <permission
        android:name="example.gps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"></permission>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.javapapers.android.googleplacesdetail.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAww1d0sM2LJLtM1a3KhjmJ3aJkDcc409o" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChooseLoginRegistrationActivity">

        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".Matches.MatchesActivity" />
        <activity android:name=".Chat.ChatActivity" />
        <activity android:name=".senior.s_gov" />
        <activity android:name=".senior.s_activity" />
        <activity android:name=".senior.s_NGO" />
        <activity android:name=".senior.s_entertainment" />
        <activity android:name=".senior.s_homes" />
        <activity android:name=".senior.s_places" />
        <activity android:name=".s_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>